body {
    background-color: seashell; 
    background-image: url('../image/car.jpg');
    background-repeat: no-repeat;
    background-size: auto;
} 
h2 {
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label {
    text-align: left;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select {
    background-color: rgb(99, 171, 223);
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font: arial;
    position: relative;
    display: inline-block;
    text-decoration: underline;
}
select:hover {
    background-color: red;
}
button {
    text-align:center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(202, 83, 89);
    font-size: 100%;
    border-radius: 12px;
}
button:hover {
    background-color:red;
}
table {
    text-align:center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    border-collapse: collapse;
}
.errors {
    text-align: left;
    color: red;
    font-weight: bold;
}